<!DOCTYPE html>
<html>
  <head>
    <title>LinkedinNft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "stack-interface.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "socicon.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "iconsmind.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "theme.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
